<div class="card">
    <p-tabView>
      <p-tabPanel header="Header 1">
        <ng-template pTemplate="content">
          Complex Content to Lazy Load 1
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Header 2">
        <ng-template pTemplate="content">
          <app-parametros-form></app-parametros-form>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        <ng-template pTemplate="content">
          Complex Content to Lazy Load 3
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>